@use '../../styles/helpers/index' as *;

.text {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-gray-20);
    padding: rem(12) rem(16);

    @include laptop {
        padding: rem(10) rem(12);
    }

    @include mobile {
        padding: rem(7) rem(9.5);
    }

    @include fluid-text(20, 14);
    font-weight: 300;
}