@use '../../styles/helpers/index' as *;

.main {
    @include fluid-text(20, 13);
    margin-bottom: rem(32);
    color: var(--color-white);


    @include laptop {
      margin-bottom: rem(28);
    }

    @include mobile {
      margin-bottom: rem(20);
    }
}

.title {
    @include fluid-text(28, 17);
    margin-bottom: rem(12);

    @include laptop {
      margin-bottom: rem(10);
    }

    @include mobile {
        margin-bottom: rem(8);
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: rem(100);

    @include laptop {
      gap: rem(50);
    }

    @include mobile {
        gap: rem(25);
        padding-bottom: rem(97);
    }
}

.control {
    max-width: rem(154);

    @include laptop {
      max-width: rem(120);
    }

    @include mobile {
        max-width: rem(91);
    }
}

