@use '../../styles/helpers/index' as *;

.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: url('../../assets/images/scene-result.png') center / cover no-repeat;

    @include mobile {
        max-height: 40vh;
    }

}

.main {
    position: absolute;
    bottom: -15px;
    left: 5%;
    max-width: 100%;
    z-index: 9;

    @include laptop {
        max-width: 80%;
    }

    @include mobile {
        max-width: 50%;
        left: 30%;
    }
}

.msg {
    position: absolute;
    max-width: 50%;
    bottom: 18%;
    left: 49%;
    z-index: 10;

    @include laptop {
        width: 40%;
        bottom: 18%;
        left: 49%;
    }

    @include mobile {
        width: 30%;
        bottom: 25%;
        left: 10%;
    }
}

.heart1 {
    width: 10%;
    position: absolute;
    bottom: 55%;
    left: 12%;
    rotate: -20deg;
    z-index: 15;


    @include mobile {
        width: 4%;
        bottom: 35%;
        left: 30%;
    }
}

.heart2 {
    width: 15%;
    position: absolute;
    bottom: 70%;
    left: 65%;
    z-index: 15;
    rotate: 25deg;


    @include mobile {
        width: 10%;
        bottom: 50%;
        left: 60%;
        rotate: 20deg;
    }
}

.heart3 {
    width: 11%;
    position: absolute;
    bottom: 76%;
    left: 27%;
    z-index: 15;
    rotate: 10deg;


    @include mobile {
        width: 6%;
        bottom: 50%;
        left: 35%;
        rotate: -20deg;
    }
}

.angry {
    width: 10%;
    position: absolute;
    bottom: 70%;
    left: 20%;
    z-index: 15;

    @include mobile {
        width: 5%;
        bottom: 47%;
        left: 40%;
    }
}

.angry2 {
    width: 15%;
    position: absolute;
    bottom: 70%;
    left: 50%;
    z-index: 15;
    rotate: -15deg;

        @include mobile {
        width: 10%;
        bottom: 47%;
        left: 57%;
    }
}