@font-face {
    font-family: 'Overpass Mono';
    src: url('../assets/fonts/OverpassMono-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('../assets/fonts/OverpassMono-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('../assets/fonts/OverpassMono-SemiBold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('../assets/fonts/OverpassMono-Bold.woff2');
    font-weight: 700;
}
