@use 'helpers' as *;

:root {
    --color-white: #FFFFFF;
    --color-light: #F5F5F5;

    --color-black: #000000;

    --color-gray-10: #E2E2E2;
    --color-gray-20: #E7E2DF;
    --color-gray-30: #868686;

    --color-green: #397256;
    --color-red: #952243;

    --border: #{rem(2)} solid var(--color-black);

    --font-family-base: 'Overpass Mono', sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    @include laptop {
        --container-width: #{rem(1280)};
    }


}