@use '../../styles/helpers/index' as *;

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        position: relative;
        top: -20px;
        z-index: 100;
    }
}

.cookies {
    position: absolute;
    left: 25%;
    bottom: 0;
    z-index: 100;

    @include mobile {
        position: relative;
        left: 0;
        top: -30px;
    }
}